<h2>{{title}}</h2>
{{#each item in content}}
{{log item}}
<div class="hero-unit">
  <h2><a {{bindAttr href="item.link"}} target="_blank">{{item.title}}</a></h2>
  <small>{{item.feed_title}}</small>
  <br/>
  <cite>{{item.author}}</cite>
  <blockquote class="item_content">
    {{sanitize item.content}}
  </blockquote>
</div>
{{/each}}
