<div class="jumbotron">
  <h3>
    <a {{bindAttr href="item.link"}} target="_blank">{{item.feed_title}}-{{item.title}}</a></h3>
  <br/>
  <cite>{{item.author}}</cite>
  <blockquote class="item_content">
    {{sanitize item.content}}
  </blockquote>
</div>

